<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <link rel="stylesheet" type="text/css" href="css/materialize.min.css">

    <title>Super simple utils</title>
</head>
<body>
<div id="root"></div>

<script>
    window.onload = function () {
        const data1 = [
            {nr:1, a:1, b:2, c:3},
            {nr:2, a:5, d:4, e:8},
            {nr:3, b:1, c:4, e:9},
        ]

        window.showDataAsTable("#root", data1, "nr");

        setTimeout(() => {
            const data2 = [
                {nr:1, a:1, b:2, c:3},
                {nr:3, b:1, c:4, f:10},
                {nr:4, b:1, f:11, c:5},
            ]

            window.showDataAsTable("#root", data2, "nr");
        }, 2000)
    }
</script>
</body>
</html>
